.homeContainer {
    text-align: center;
    padding: 10px;
}

.uploadSection {
    margin-top: 20px;
}

.uploadSection label {
    display: block;
    margin-bottom: 10px;
}

.instruction {
    font-size: 0.9em;
    color: #666;
}

.playerAndDetails {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 40px; /* Espaço maior para separação do topo */
}

.videoPlayerContainer {
    position: relative;
    width: 300px;
    height: 600px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reactPlayer {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.videoDetails {
    text-align: left;
    max-width: 300px;
}
